.author-info ul {
    display: flex;
    flex-direction: row;
}

.author-info li {
    padding: 0 0 40px 30px;
    list-style: none;
    font-size: 15px;
}

.navbar {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    height: 30vh;
}

.blog-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

.blog-text header {
    font-size: 60px;
    padding: 0 0 5px 30px;
    font-weight: bold;
}

.blog-text p {
    font-size: 20px;
    padding: 0 0 30px 30px;
}