@import url(/Styles/landing-page.css);
@import url(/Styles/content.css);
@import url(/Styles/subsrcibe-section.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', Courier, monospace;
}

body {
    background-color: #f1f6f9;
}
